<template>
    <div>
        <div v-for="post in this.posts" :key="post.id" class="mt-10">
            <router-link :to="{name: 'post', params: {id: post.id}}">
                <h4 class="text-2xl pb-3 font-semibold hover:underline hover:text-blue-400">
                    {{post.title}}
                </h4>
            </router-link>
            <p class="text-gray-600 pb-3">{{post.lead}}</p>
            <div class="text-sm text-gray-600">By {{post.author.name}} in {{post.topic.name}} . </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        posts: [Object, Array]
    }
}
</script>
