<template>
    <div class="container mx-auto px-4 w-full md:w-3/4 lg:w-3/5 xl:w-1/2 my-20">
        <h2 class="text-4xl">
            <router-link :to="{name: 'index'}" class="text-gray-600 hover:underline">All Posts</router-link>
            <span class="text-gray-600">/</span>
<!--            {{ topic.name }}-->
        </h2>
        <div v-if="$apollo.loading">Loading: {{$apollo.loading}}</div>
        <div v-else>
            <PostList :posts="posts"/>
        </div>
        <div>Is posts loading: {{$apollo.queries.posts.loading}}</div>
    </div>
</template>

<script>
import gql from 'graphql-tag'
import PostList from '../components/PostList'

export default {
    components: {PostList},
    apollo: {
        posts: gql`{
            posts {
                id
                title
                lead
                created_at
                author{
                    id
                    name
                }
                topic{
                    name
                    slug
                }
            }
        }`
    }
}
</script>
